.margin-top-50 {
	margin-top:50px;
} 

.margin-top-20 {
	margin-top:20px;
} 

.width-150 {
	width:150px;
}

.width-40 {
	width:40px;
}

.width-50 {
	width:50px;
}

.width-60 {
	width:60px;
}

.width-70 {
	width:70px;
}

.width-80 {
	width:80px;
}

.width-90 {
	width:90px;
}

.width-100 {
	width:100px;
}

.width-200 {
	width:200px;
}

.bold {
	font-weight:bold;
}

.w-25-pct {
	width:25%;
}

.w-30-pct {
	width:30%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}